<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../style.css">
    <!-- jQuery Library -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <title>My-web</title>

</head>
<body>
    <div th:insert="~{/layout/header :: header}"></div>
    <div class="content">
        <div class="wrapper clearfix">
           <div>
               <h2 class="chat-title">채팅방 리스트</h2>
               <div class="input-group">
                   <div class="input-group-prepend">
                       <label class="input-group-text title-h1">방제목</label>
                   </div>
                   <input type="text" class="form-control" id="room_name">
                   <div class="input-group-append">
                       <a class="content-button" id="btn-create-room">채팅방 생성</a>
                   </div>
               </div>

               <div class="wrapper clearfix" th:each="room : ${rooms}">
                   <div class="boards-title">
                       <a class="title-h1" th:utext="${room.roomName}" th:href="@{/chat/room/enter/{id}(id = ${room.roomId})}"></a>
                       <span class="board-username" th:utext="${room.creator}">작성자</span>
                   </div>
               </div>

           </div>
        </div>
    </div>
    <script src="/js/room.js"></script>
    <div th:insert="~{/layout/footer :: footer}"></div>
</body>
</html>
