<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <!-- jQuery Library -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>


</head>
<body>
    <!-- 조각화 th:fragment="조각명" -->
    <header th:fragment="header">
        <div class="header">
            <div class="wrapper clearfix">
                <a class="logo" href="/">
                    오5리
                </a>
                <ul class="menu">
                    <li><a href="">글쓰기</a></li>
                    <li><a href="">수다</a></li>
                </ul>

                <div th:text="${#authentication.principal}"></div>
                <ul class="menu login out">
                    <li><a sec:authorize="!isAuthenticated()" id="joinForm" href="/joinForm">JOIN</a></li>
                    <li><a sec:authorize="!isAuthenticated()" id="loginForm" href="/loginForm">LOGIN</a></li>
                </ul>

                <ul class="menu login in">
                    <li><a sec:authorize="isAuthenticated()" id="info-text" href="/info">INFO</a></li>
                    <li><a sec:authorize="isAuthenticated()" id="logout-text" href="/logout">LOGOUT</a></li>
                </ul>

                
            </div>
        </div>
    </header>
</body>
</html>