<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../style.css">
    <title>My-web</title>
</head>
<body style="background-color: black;">
    <!-- th:insert="~{ [ 템플릿 조각 경로 ] :: 조각명 }"  분할 -->
    <!-- th:insert => 조각을 <div>안에 넣음  // th:replace => 조각을 <div>와 교체  -->
    <div th:insert="~{/layout/header :: header}"></div>
    <div class="content">
        <div class="wrapper saveForm clearfix ">
            <div style="text-align:right;">
                글 번호: <span id="id" th:utext="${board.id} "></span>
                작성자:<span th:utext="${board.user.nickname} "></span>
            </div>
            <div class="form-group title">
                <h3 th:text="${board.title}">title</h3>
            </div>
            <hr />
            <div class="form-group">
                <p th:utext="${board.content}">content</p>
            </div>
            <a id="btn-back" class="content-button submit-btn detail" style="color: white;" onclick="history.back()">🔙</a>
            <div th:if="${board.user.id} == ${#authentication.principal.user.id}">
                <a th:href=@{/board/{boardId}/updateForm(boardId=${board.id})} class="content-button submit-btn detail" style="color: white;"> 수정 </a>
                <a id="board-delete" class="content-button submit-btn detail" style="color: white;"> 삭제 </a>
            </div>
        </div>
        <div class="reply-list">댓글 리스트 <span>▼</span></div>
        <div class="reply-box clearfix">
            <ul id="reply--box">
                <div th:each="reply:${board.replies}" >
                    <input type="hidden" id="replyId" th:value="${reply.id}"/>

                    <li th:id="'reply--'+${reply.id}" class="reply-items clearfix">
                        <a class="content-button reply re-reply" th:onclick="index.toggle([[${reply.id}]])" >답글</a>
                        <a th:if="${reply.user.id} == ${#authentication.principal.user.id}" th:onclick="index.replyDelete([[${board.id}]], [[${reply.id}]])" class="content-button reply delete" >삭제</a>
                        <div th:text="${reply.user.username}" class="name">작성자</div>
                        <div th:text="${reply.content}" class="contents"></div>

                            <ul class="comment">
                                <div th:each="comment :${reply.comments}" >
                                    <li th:id="'comment--'+${comment.id}" class="comment-items clearfix replyToComment" >
                                        <a th:if="${comment.user.id} == ${#authentication.principal.user.id}" th:onclick="index.commentDelete([[${board.id}]], [[${reply.id}]], [[${comment.id}]])" class="content-button reply delete" >삭제</a>
                                        <div th:text="${comment.user.username}" class="name">작성자</div>
                                        <div th:text="${comment.content}" class="comment-contents"></div>
                                    </li>
                                </div>
                            </ul>

                        <div th:id="'toggle--'+${reply.id}" style="display:none">
                            <textarea th:id="'comment-content'+${reply.id}" class="form-control re-reply"></textarea>
                            <a th:onclick="index.commentSave([[${board.id}]], [[${reply.id}]])" class="content-button reply re-reply" >대댓</a>
                        </div>
                    </li>

                </div>
            </ul>
        </div>
        <div class="reply-write-box clearfix">
            <textarea id="reply-content" class="form-control reply"></textarea>
            <a id="btn-reply-save" class="content-button reply" >댓글</a>
        </div>
    </div>
    <div th:insert="~{/layout/footer :: footer}"></div>
</body>

<script src="/js/board.js"></script>
</html>