/* Reset CSS */
body, ul, h1, h2, p{
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    color : inherit;
    text-decoration: none;
}

img {
    vertical-align: unset;
}
/* Layouts */
.wrapper {
    width: 1200px;
    margin: 0 auto;

}

/* Commons */
.clearfix::after {
    content: " ";
    display: block;
    clear: both;
}


/* Components CSS */
body{
    background-color: #0e0e0e;
    /* background-image: url(images/bg.png); */
    color: #999;
}

.header .wrapper a {
    color : inherit;
    text-decoration: none;
    list-style-type: none;
}

.logo {
    text-indent: -99999px;
    background-image: url(/images/5duck.png);
    background-repeat: no-repeat;
    background-position: center;
    scale: 100%;
    float: left;
    width: 80px;
    height: 80px;
    transition-duration: .5s;
}

.logo:hover {
    background-image: url(/images/5duck_hover.png);
    transform: scale3d(1.05, 1.05, .8);
}

.menu {
    float: left;
}

.menu.login {
    float: right;
}

.menu.login.in {
    position: relative;
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    height: 80px;
    line-height: 80px;
    padding: 0 20px;
    position: relative;
}

.menu li a::before {
    content: " ";
    background-color: currentColor;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    margin: 0 90px;
    transition: margin 0.4s;
}

.menu li a:hover {
    color: #ddd;
}

.menu li a:hover::before {
    margin: 0;
}

.content {
    background-color: rgb(117, 117, 117);
    margin: 1em auto;
    padding: 1em;
    width: 40em;
    border-radius: .4em;
}

.content .wrapper {
    background-color: antiquewhite;
    width: 100%;
    border-radius: .4em; 
}

.content .wrapper > .boards-title{
    position: relative;
    border:1px solid #ced4da;
    border-radius: .4em; 
}

.content .wrapper > .boards-title > span{
    float: right; 
}

.content .wrapper > .boards-title .board-username {
    position: absolute;
    right: 18%;
}

.board-write-form {
    width: inherit;
}

.content .title-num, p{
    padding-left: .7em;
}

.content .title-h1, p{
    color: rgb(90, 82, 82);
    width: 100%;
    padding-left: .9em;
}

.content p {
    padding-left: 1.2em;
}

.content p.image{
    padding-left: 0;
    padding-bottom: .3em;
}

.content-button {
    float: left;
    background-color: gray;
    display: blcok;
    margin: 1em;
    padding: 0.4em;
    border-radius: .5em;
    color: white;
}

.content-button.reply {
    float: right;
    background-color: antiquewhite;
    color: gray;
}

.content-button:hover {
    cursor: pointer;
    background-color: #999;
}

.content-button.reply:hover {
    cursor: pointer;
    background-color: rgb(255, 217, 167);
}

.content-button.reply.delete,
.content-button.reply.re-reply {
    display: inline-block;
    font-size: .7em;
    margin: 0;
    margin-right: .5em;
    padding: .2em;
    border-radius: .3em;
}

/* .content-button.reply.re-reply{
    margin-right: .5em;
} */

.content-button.submit-btn.info-second {
    margin-left:0;
}

.content>.reply-list>.reply-box>.name {
    border: 1px solid black;
}

.comment .content-button.reply.delete,
#comment-content,
#btn-comment-save {
    margin-top: .2em;
}

.social-btn > img {
    border-radius: 50%;
    margin-top: 1em;
    width: 2.05em;
    height: 2.05em;
    border:1px solid #ced4da;
}

#btn-profile-image {
    margin-left: 0;
    margin-top: .3em;
}

#result-profile-image {
    width: 5em;
    border-radius: 50%;
}

#menu-profile-image,
#menu-profile-image-null {
    width: 4em;
    border-radius: 50%;
    position:relative; 
    top:50%; 
    transform:translateY(-50%);
}

.reply-list {
    color:white;
}

.reply-items{
    color: white;
    width: 97%;
    margin-left: 1em;
    margin-top: .2em;
    display: inline-block;
    border-bottom: 1px solid;
}

.reply-items > .name{
    font-style: italic;
}

#reply--1 > .contents {
    word-wrap: break-word;
}

input { 
    border:1px solid #ced4da;
    border-radius: .3em;
}

input:focus {
    outline:1px solid #9da9b4;
}

.form-group {
    padding: 1em;
    color: #444;
}

.form-group.profile-image{
    float: right;
}

.form-group.title {
    margin-left: 1em;
}

.form-reply {
    display: inline-block;
    height: 1.8em;
    border-radius: .3em;
}

.form-control.reply,
.form-control.re-reply {
    width: 80%;
    font-size: 1.2em;
    height: 2em;
    resize: vertical;
    border:1px solid #ced4da;
    border-radius: .4em;
    margin: 1em;
}

.form-control.re-reply{
    margin: 0;
    height: 1em;
    resize: none;
}

.form-control.readonly {
    background-color: #cfcfcf;
}

.form-control .re-reply{
    margin-left: 1em;
}

.reply-box .reply-items .comment {
    margin-top: .2em;
    border-radius: .4em;
    background-color:#656565;
}

.comment-items .name::before {
    content: "┕"
}

.comment-items .comment-contents {
    margin-left: 1em;
}

.board-ul {
    text-align: center;
    margin: .6em auto;
    padding: .5em;
    border-radius: .5em;
}

.board-ul .board-page-btn,
.board-page-count {
    display: inline-block;
    background-color: gray;
    border-radius: .4em;
    color: white;
}

.board-ul .board-page-count {
    padding : 0.1em;
}

.board-ul .board-page-btn a{
    padding: .4em;
}

.board-page-count a::after {
    content: "page";
}

.board-ul .board-page-btn.disabled{
    background-color : #3f3f3f;
}

.submit-btn.detail {
    margin: .4em;
}

.footer {
    position: relative;
    transform: translate(0, 60%);
    border-top: 1px solid #333;
    margin-top: 1em;
    padding: 1em 0;
}

