<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../style.css">
    <!-- jQuery Library -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <title>My-web</title>
</head>
<body>
    <!-- th:insert="~{ [ 템플릿 조각 경로 ] :: 조각명 }"  분할 -->
    <!-- th:insert => 조각을 <div>안에 넣음  // th:replace => 조각을 <div>와 교체  -->
    <div th:insert="~{/layout/header :: header}"></div>
    <div class="content">
        <div class="wrapper clearfix">
            <div>
                <form id="frm" action="/auth/login" method="post">
                    <div class="form-group">
                        <label for="username">username</label>
                        <input type="text" name="username" class="form-control" placeholder="아이디를 입력하세요" id="username">
                    </div>

                    <div class="form-group">
                        <label for="username">password</label>
                        <input type="password" name="password" class="form-control" placeholder="비밀번호를 입력하세요" id="password" onkeyup="enterkey()">
                    </div>
                    <a id="login-button" class="content-button submit-btn"> 로그인 </a>
                </form>
            </div>
        </div>
    </div>

    <script>
        function enterkey() {
            if (window.event.keyCode == 13) {
                if(document.getElementById("username").value==''){
                    alert("성명을 입력해주십시오.");
                    return false;
                }
                if(document.getElementById("password").value==''){
                    alert("비밀번호를 입력해주십시오.");
                    return false;
                }else {
                frm.submit();
                }
            }
        }
    </script>

    <script src="/js/user.js"></script>
    <div th:insert="~{/layout/footer :: footer}"></div>
</body>
</html>
