<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>My-web</title>
</head>
<body>
    <!-- th:insert="~{ [ 템플릿 조각 경로 ] :: 조각명 }"  분할 -->
    <!-- th:insert => 조각을 <div>안에 넣음  // th:replace => 조각을 <div>와 교체  -->
    <div th:insert="~{/layout/header :: header}"></div>
    <div class="content">
        <div class="wrapper clearfix">
            <div>
                <h1>제목 적는 부분</h1>
                <p>내용 적는 부분</p>
            </div>
                <a class="content-button" href=""> 상세 보기 </a>
        </div>

        <div class="wrapper clearfix">
            <div>
                <h1>제목 적는 부분</h1>
                <p>내용 적는 부분</p>
            </div>
                <a class="content-button" href=""> 상세 보기 </a>
        </div>

        <div class="wrapper clearfix">
            <div>
                <h1>제목 적는 부분</h1>
                <p>내용 적는 부분</p>
            </div>
                <a class="content-button" href=""> 상세 보기 </a>
        </div>
        
    </div>
    <div th:insert="~{/layout/footer :: footer}"></div>
</body>
</html>
