<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Title</title>
</head>
<body>
    <div class="header">
        <div class="wrapper clearfix">
            <a class="logo" href="/web">
                오5리
            </a>
            <ul class="menu">
                <li><a href="">글쓰기</a></li>
                <li><a href="">임시</a></li>
            </ul>
            <ul class="menu login">
                <li><a href="">JOIN</a></li>
                <li><a href="">LOGIN</a></li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="wrapper">Contents</div>
    </div>
    <div class="footer">
        <div class="wrapper">Footer</div>
    </div>
</body>
</html>
