<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>My-web</title>
</head>
<body>
    <!-- th:insert="~{ [ 템플릿 조각 경로 ] :: 조각명 }"  분할 -->
    <!-- th:insert => 조각을 <div>안에 넣음  // th:replace => 조각을 <div>와 교체  -->
    <div th:insert="~{/layout/header :: header}"></div>
    <div class="content">
        <div class="wrapper clearfix" th:each="board : ${boards}">
            <div class="boards-title">
                <a class="title-num" th:utext="${board.id}"></a>
                <a class="title-h1" th:href="@{/board/{id}(id = ${board.id})}" th:text="${board.title}"></a>
            </div>
            <!-- <a class="content-button" href=""> 상세 보기 </a> -->
        </div>

        <ul class="board-ul">
            <li class="board-page-btn disabled" th:if="${boards.first}">
                <a>🔙</a>
            </li>
            <li class="board-page-btn" th:if="${!boards.first}">
                <a class="" th:href="@{/(page=${boards.number-1})}">🔙</a>
            </li>

            <li class="board-page-count">
                <a href="/?page=0" th:text="${boards.pageable.pageNumber+1}"></a>
            </li>

            <li class="board-page-btn" th:if="${!boards.last}">
                <a class="" th:href="@{/(page=${boards.number+1})}">🔜</a>
            </li>
            <li class="board-page-btn disabled" th:if="${boards.last}">
                <a>🔜</a>
            </li>

        </ul>

    </div>
    <div th:insert="~{/layout/footer :: footer}"></div>
</body>
</html>
